@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.300') transparent;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: theme('colors.gray.200');
    border-radius: theme('borderRadius.md');
    border: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.300/50');
  }

  [data-mode="dark"] *::-webkit-scrollbar-thumb {
    background-color: theme('colors.gray.700');
    border-radius: theme('borderRadius.md');
    border: none;
  }

  [data-mode="dark"] ::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.600/50');
  }

  .bg-pattern {
    background-image: radial-gradient(rgba(14, 163, 232, 0.05) 3px, transparent 3px), radial-gradient(rgba(14, 163, 232, 0.05) 3px, transparent 3px);
    background-size: 70px 70px;
    background-position: 0 0, 23px 23px;
    background-color: theme('colors.slate.200');
    z-index: -1;
  }

  [data-mode="dark"] .bg-pattern {
    background-image: radial-gradient(rgba(14, 163, 232, 0.05) 3px, transparent 3px), radial-gradient(rgba(14, 163, 232, 0.05) 3px, transparent 3px);
    background-size: 70px 70px;
    background-position: 0 0, 23px 23px;
    background-color: theme('colors.gray.900');
    z-index: -1;
  }

  .title {
    @apply !leading-4 !font-semibold !text-lg !text-gray-600 dark:!text-gray-300 !mb-6;
  }

  .label-base {
    @apply !block !mb-2 !text-sm !font-medium !text-gray-900 dark:!text-white;
  }

  .input-base {
    @apply focus:!outline-none !bg-gray-50 !border !border-gray-300 !text-gray-900 !text-sm !rounded-lg focus:!ring-brand-500 focus:!border-brand-500 !block !w-full !p-2.5 dark:!bg-gray-700 dark:!border-gray-600 dark:!placeholder-gray-400 dark:!text-white dark:focus:!ring-brand-500 dark:focus:!border-brand-500;
  }

  .button-b {
    @apply !transition !text-white !cursor-pointer !bg-brand-500 hover:!bg-brand-700 focus:!ring-4 focus:!ring-brand-300 !font-medium !rounded-lg !text-sm !px-5 !py-2.5 !mb-6 dark:!bg-brand-600 dark:hover:!bg-brand-700 focus:!outline-none dark:focus:!ring-brand-800;
  }

  .link-b {
    @apply !text-sm !font-medium !text-brand-600 hover:!underline dark:!text-brand-500;
  }
}